{% extends "forms/field.html.twig" %}

{% block prepend %}
{% if field.prepend %}
    <div class="form-input-addon form-input-prepend">
        {{- field.prepend|t|raw -}}
    </div>
{% endif %}
{% endblock %}

{% block input_attributes %}
    type="text"
    id="cl_public_id"
    {% if field.size %}size="{{ field.size }}"{% endif %}
    {% if field.minlength is defined or field.validate.min is defined %}minlength="{{ field.minlength | default(field.validate.min) }}"{% endif %}
    {% if field.maxlength is defined or field.validate.max is defined %}maxlength="{{ field.maxlength | default(field.validate.max) }}"{% endif %}
    {{ parent() }}
{% endblock %}

{% block append %}
    {% if data.header.public_id is not null %}
        <div class="form-input-addon form-input-append">
            {% set thumb_options = {'width': '400'} %}
            <img src="{{ cl_url('image', data.header.public_id, thumb_options) }}" alt="Vorschau" id="cl_img">
        </div>
    {% endif %}
    <button id="upload_widget" class="cloudinary-button">Upload files</button>
{% endblock %}

{% block input %}
{% if field.prepend or field.append %}
    {% set field = field|merge({'wrapper_classes': 'form-input-addon-wrapper'}) %}
{% endif %}
{{ parent() }}

{% do assets.addJs('https://widget.cloudinary.com/v2.0/global/all.js', 101) %}
{% set inline_js = "
var myWidget = cloudinary.createUploadWidget({
  cloudName: '" ~ grav.config.plugins.cloudinary.cloud_name ~ "',
  multiple: false,
  uploadPreset: '" ~ grav.config.plugins.cloudinary.unsigned_preset ~ "'}, (error, result) => {
    if (!error && result && result.event === 'success') {
      // set field value to new id
      document.getElementById('cl_public_id').value = result.info.public_id;
      // replace image src
      let old_img = document.getElementById('cl_img').src;
      let path = old_img.substr(0,old_img.lastIndexOf('/')+1);
      document.getElementById('cl_img').src = path + result.info.public_id + '.jpg';
    }
  }
)

document.getElementById('upload_widget').addEventListener('click', function(){
    event.preventDefault();
    myWidget.open();
}, true);

" %}
{% do assets.addInlineJs(inline_js, {'group': 'bottom'}) %}
{% endblock %}
