{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    {#{ dump(config.plugins.cloudinary.list) }#}
    <div class="grid">
    {% for v in config.plugins.cloudinary.list %}
    <a href="{{ v.url }}"><img src="{{ v.url_img }}" alt="Vorschaubild {{ v.title }}">{{ v.title }}</a>
    {% endfor %}
    </div>
{% endblock %}
